*{margin: 0px;padding: 0px;}
/*导航菜单左侧列表,二级列表*/
.nav-top{
	background-color: rgb(249,249,249);
	height: 30px;
	line-height: 30px;
	font-family: "微软雅黑";
}
.nav-left{
	display: inline;
}
.nav-right{
	display: inline-block;
	float: right;
}
.nav-right li{
 	display: inline-block;
}
.nav-right span{
	display: inline-block;
	width: 15px;
	height: 15px;
	background:url('img/title.png') no-repeat -286px -257px; 
}
.nav-right li:nth-child(1){
 	background:url('img/title.png') no-repeat -220px -250px; 
}
.nav-right li:nth-child(3){
 	background:url('img/title.png') no-repeat -240px -250px; 
}
.nav-right li:nth-child(5){
 	background:url('img/title.png') no-repeat -284px -223px; 
}
.nav-right li:nth-child(7){
 	background:url('img/title.png') no-repeat -227px -250px; 
}
.nav-right li:nth-child(9){
 	background:url('img/title.png') no-repeat -227px -250px; 
}




/*logo*/
.nav-logo{
	margin-top: 30px;
}
.nav-logo-left{
	/*border: 1px red solid;*/
}
/*搜索框*/
.nav-logo-right{
	margin-top: 20px;
	border: 2px rgb(254,60,60) solid;
	height: 39px;
}
#btn1{
	display: inline-block;
	width:90px;
	height: 35px;
	line-height: 35px;
	background-color: rgb(249,249,249);

}
#btn2{
	width: 330px;
	height:35px;
	margin-left: -3px;
}
#btn3{
	width:115px;
	height: 35px;
	border:2px red solid;
	background-color: red;
	color: white;
	margin-left: -4px;
	
}
/*搜索框下列表*/
/*.nav-logo-list{
	margin-left: 0px;
}*/
.nav-logo-list li{
	display: inline-block;
}
.nav-logo-list li a{
	color: gray;
	font-family: "微软雅黑";
}
/*菜单分类标示*/
.main-text{
	display: inline-block;
	padding: 10px 0px 0px 50px;
	background-color: rgb(232,42,30);
	width: 230px;
	position: relative;
	left: 105px;
	top: 56px;
	height: 40px;
	color: white;
	font-family: "微软雅黑";
	font-size: 15px;
}
/*导航部分*/

.main-nav{
	margin-left: 380px;
}
.main-nav li{
	display: inline-block;
	padding: 15px 15px 0px 15px;
}
.main-nav li a{
	font-family: "微软雅黑";
	font-weight: bold;
}
.main-nav-num{
	color: red;
}
.main-nav-number{
	color:rgb(73,73,72);
}

/**/
#content{
	position: relative;
}

/*菜单 轮播图*/
.main-block{
	height: 350px;
	background-color: rgb(232,42,30);
}
#main-block-two{
	height: 350px;
}
/*菜单*/
.main-menu{
	background-color:rgb(193,49,49); 
	width: 200px;
	margin-left: 40px;
	margin-left: 20px/9;
}
.main-menu li{
	list-style: none;
	height: 29px;
	line-height: 29px;
	background-color: rgb(193,49,49);
	margin-left: -40px;
	padding-left: 35px;
}
.main-menu li:hover{
	background-color: rgb(179,0,0);
}
.main-menu li a{
	color: white;
	font-family: "微软雅黑";
}
/*轮播图*/
#carousel{
	position: relative;
	width: 600px;
	height: 348px;
	bottom:356px;
	left: 231px;
}
#carousel img{
	height: 348px;
}

/*充值页面*/
.main-block-min{

	background-color: white;
	width: 270px;
	height: 348px;
	position:absolute;
	right: 142px;
	top: 97px;
}
.main-block-min .list li{
	display: inline-block;
	padding:50px 6px 0px 20px;
	margin-top: 10px;
	font-family: "微软雅黑";
}
/*图标*/
.main-block-min .list li:nth-child(1){
 	background:url('img/1.jpg') no-repeat 20px 0px; 
}
.main-block-min .list li:nth-child(2){
 	background:url('img/2.jpg') no-repeat 30px 0px ; 
}
.main-block-min .list li:nth-child(3){
 	background:url('img/3.jpg') no-repeat 15px 0px; 
}
/*表格*/
.main-block-min table{
	font-family: "微软雅黑";
	margin-left: 20px;
}
/*充值页面*/
.phone{
	margin: -20px 0px 0px 2px;
}

section{
	background-color: rgb(249,249,249);
	height: 1080px;
}
/*商品展示标题栏*/
#food-list{
	border-bottom: 2px rgb(255,88,9) solid;
	padding-top: 20px;
}
#food-list h4{
	float: left;
	font-family: "微软雅黑";
	color: rgb(255,88,9);
}
#food-list li{
	float: right;
	list-style: none;
	margin-top: 10px;
	padding: 5px 3px 0px 3px;
	font-family: "微软雅黑";
	color: rgb(153,153,153);
}
/*商品板块*/
#food-block{
	height: 360px;
	font-family: "微软雅黑";
	background-color: white;
}
#food-block p:nth-child(1){
	color: rgb(255,88,9);
	font-weight: bold;
	padding-top: 10px;
}
#food-block p:nth-child(2){
	font-size: 10px;
	color: rgb(153,153,153);
}
#food-block li{
	display: inline-block;
	font-size: 12px;
	padding: 10px 16px 0px 0px;
}

#food-block #img1 img{
	margin-left: -20px;
}
#food-block h6{
	color: rgb(153,153,153);
}
 .img{
	margin-left: -30px;
}
/*商品展示标题栏2*/
#food-list-two{
	border-bottom: 2px rgb(186,218,86) solid;
	padding-top: 20px;
}
#food-list-two h4{
	float: left;
	font-family: "微软雅黑";
	color: rgb(186,218,86);
}
#food-list-two li{
	float: right;
	list-style: none;
	margin-top: 10px;
	padding: 5px 3px 0px 3px;
	font-family: "微软雅黑";
	color: rgb(153,153,153);
}
/*商品板块*/
#food-block-two{
	height: 540px;
	font-family: "微软雅黑";
	background-color: white;
}
#food-block-two p:nth-child(1){
	color: rgb(186,218,86);
	font-weight: bold;
	padding-top: 10px;
}
#food-block-two p:nth-child(2){
	font-size: 10px;
	color: rgb(153,153,153);
}
#food-block-two li{
	display: inline-block;
	font-size: 12px;
	padding: 10px 13px 0px 0px;
}

#food-block-two #img2 img{
	margin-left: -20px;
}
#food-block-two h6{
	color: rgb(153,153,153);
}
 .img2{
	margin-left: -30px;
}
#food-block-two-text{
	margin-top: 30px;
}
#food-block-two-text p{
	margin-top: 20px;
	background-color: red;
	color: white;

}
#food-block-two-img1{
	padding: 10px 0px 0px 40px;
}
#food-block-two-img2{
	padding-top: 15px;
}


/*页脚*/
footer{
	height: 100px;
	font-size: 10px;
	color: rgb(153,153,153);
}
footer #list1 li{
	display: inline-block;
	padding-top: 15px;
	padding-left: 15px;
}
footer #list2 li{
	display: inline-block;
	padding-left: 15px;
}